body {
  background-image: url('./assets/stardewFundo.gif');
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-size: 3.2em;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 600;
  text-align: center;
  background: -webkit-linear-gradient(#F2AB27, #c74a01);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #F2AB27;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #e7ba65;
  backdrop-filter: blur(3px);
  -webkit-box-shadow: 10px 10px 75px -1px rgba(250,250,250,1);
  -moz-box-shadow: 10px 10px 75px -1px rgba(250,250,250,1);
  box-shadow: 10px 10px 75px -1px rgba(250,250,250,1);
  color: white;
  transition: 0.9s;
  
}


/* Color Theme Swatches in Hex */
.stardew-valley-1-hex { color: #0E4024; }
.stardew-valley-2-hex { color: #1D7322; }
.stardew-valley-3-hex { color: #57A61F; }
.stardew-valley-4-hex { color: #F2AB27; }
.stardew-valley-5-hex { color: #A62317; }

